*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    height: 100%;
    background: #676767;
}

.user {
    text-align: center;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 45%;
}